.error {
  border-color:  #e63636;
  color:  #e63636
}

.container {
  max-width: 1300px;
  margin: auto;

  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #181818;
  border-radius: 4px;

  font-size: 16px;
  color: #fff;
  background-color: #181818;
}

input:focus{
  border-color: #9333FF;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #181818;
  border-radius: 4px;

  font-size: 16px;
  color: #ffffff6b;
  background-color: #181818;
  cursor: pointer;
}

select:focus {
  outline: none;
}

.butons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

input[type="file"], [type="color"] {
  display: none;
}

.image-upload img{
  width: 60px;
  cursor: pointer;
  padding: 10px;
  border-bottom: 2px solid #181818;
}

.color-text img{
  width: 55px;
  cursor: pointer;
  padding: 10px;
  border-bottom: 2px solid #181818;
}

button {
  padding: 12px 24px;
  background-color: #9333FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.card-container{
  width: 510px;
  height: 240px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: auto;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.card-left{ 
  width: 60%;
  height: 100%;

  align-items: center;
}

.card-left .title{
  padding: 30px;
}

.card-left ul{
  list-style: none;
  padding-left: 30px;
}

.card-left .local{
  padding: 30px;
}

img{
  width: 140px;
}

@media (max-width: 530px){
  .card-container{
    transform: scale(0.9);
  }
  .card-left{
    width: 70%;
    padding: 10px;
  }
  img{
   width: 120px;
  }
}

@media (max-width: 445px){
  .card-left .title{
    padding: 10px;
  }
  .card-left ul{
    padding-top: 20px;
    padding-left: 10px;
  }
  .card-left .local{
    padding: 20px 10px;
  }
  img{
   width: 100px;
  }
}