<div class="container">

    <form [formGroup]="profileForm"  (ngSubmit)="submitForm()">
  
      <label>* Nome:
        <input type="text" formControlName="name"
        [ngClass]="{'error': profileForm.get('name')?.errors && 
          (profileForm.get('name')?.touched || 
          profileForm.get('name')?.dirty ) }">
      </label>
  
      <label>* Profissão:
        <input type="text" formControlName="profession"
        [ngClass]="{'error': profileForm.get('profession')?.errors && 
          (profileForm.get('profession')?.touched || 
          profileForm.get('profession')?.dirty ) }">
      </label>
  
      <label>* Email: 
        <input type="email" formControlName="email"
        [ngClass]="{'error': profileForm.get('email')?.errors && 
          (profileForm.get('email')?.touched || 
          profileForm.get('email')?.dirty ) }">
      </label>
  
      <label>* Telefone:
        <input type="text" formControlName="phoneNumber" placeholder="(XX) XXXXX-XXXX"
        [ngClass]="{'error': profileForm.get('phoneNumber')?.errors && 
          (profileForm.get('phoneNumber')?.touched || 
          profileForm.get('phoneNumber')?.dirty ) }"
          >
      </label>
  
      <div formGroupName="address">
        <label>* Cidade:  
          <input type="text" formControlName="city"
          [ngClass]="{'error': profileForm.get('phoneNumber')?.errors && 
          (profileForm.get('phoneNumber')?.touched || 
          profileForm.get('phoneNumber')?.dirty ) }">
      </label>
  
      <label>* Estado: <br>
        <select formControlName="state">
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SP">SP</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>
      </label>
      </div>
      
      <button [disabled]="!profileForm.valid">Gerar Cartão</button>
    </form>
  
    <div class="card-container">
  
      <div class="card-left">
        <div class="title">
          <h2>William Dias Marcos</h2>
          <h3>Desenvolveor Front-end</h3>
        </div>
        
        <ul>
          <li>william.diasmarcos@gmail.com</li>
          <li>51 995456698</li>
        </ul>
    
        <div class="local">
          <p>Taquara, RS</p>
        </div>
      </div>
      <div>
        <img src="https://static.vecteezy.com/system/resources/previews/012/871/379/non_2x/dell-brand-icon-illustration-top-tech-company-logotype-free-png.png" alt="">
  
      </div>
  
    </div>
</div>