<div class="container">


  <div #card class="card-container" [ngStyle]="{'background-color': profileForm.get('backgroundColor')?.value, 'color': profileForm.get('color')?.value}">
    
    <div class="card-left">

      <div class="title">
        <h2>{{ profileForm.get('name')?.value }}</h2>
        <h3>{{ profileForm.get('profession')?.value }}</h3>
      </div>
        
      <ul>
        <li>{{ profileForm.get('email')?.value }}</li>
        <li>{{ profileForm.get('phoneNumber')?.value ?? '' | mask: '(99) 99999-9999' }}</li>
      </ul>
    
      <div class="local">
        <p>{{ profileForm.get('address.city')?.value }} {{ profileForm.get('address.state')?.value }}</p>
      </div>
    </div>

    <div>
      <img [src]="image">
    </div>
    
  </div>


  <form [formGroup]="profileForm">
  
  <input type="text" formControlName="name" placeholder="Nome"
   [ngClass]="{ 'error': profileForm.get('name')?.errors && profileForm.get('name')?.touched }">

  <input type="text" formControlName="profession" placeholder="Profissão"
    [ngClass]="{ 'error': profileForm.get('profession')?.errors && profileForm.get('profession')?.touched }">
  
  <input type="email" formControlName="email" placeholder="Email"
   [ngClass]="{ 'error': profileForm.get('email')?.errors && profileForm.get('email')?.touched }"> 
  
  <input type="text" formControlName="phoneNumber" placeholder="Telefone" mask="(99) 99999-9999"
    [ngClass]="{ 'error': profileForm.get('phoneNumber')?.errors && profileForm.get('phoneNumber')?.touched }"> 
  
  <div formGroupName="address"> 
    <input type="text" formControlName="city" placeholder="Cidade"
    [ngClass]="{ 'error': profileForm.get('address.city')?.errors && profileForm.get('address.city')?.touched }">
      
    <select formControlName="state">
      <option value="" disabled selected>Estado</option>
      <option value="AC">AC</option>
      <option value="AL">AL</option>
      <option value="AP">AP</option>
      <option value="AM">AM</option>
      <option value="BA">BA</option>
      <option value="CE">CE</option>
      <option value="DF">DF</option>
      <option value="ES">ES</option>
      <option value="GO">GO</option>
      <option value="MA">MA</option>
      <option value="MT">MT</option>
      <option value="MS">MS</option>
      <option value="MG">MG</option>
      <option value="PA">PA</option>
      <option value="PB">PB</option>
      <option value="PR">PR</option>
      <option value="PE">PE</option>
      <option value="PI">PI</option>
      <option value="RJ">RJ</option>
      <option value="RN">RN</option>
      <option value="RS">RS</option>
      <option value="RO">RO</option>
      <option value="RR">RR</option>
      <option value="SC">SC</option>
      <option value="SP">SP</option>
      <option value="SE">SE</option>
      <option value="TO">TO</option>
    </select>
  </div>

  <div class="butons">

    <div class="image-upload">
      <label for="uploadImage">
          <img src="../assets/icons/imagem.png">
      </label>  
      <input id="uploadImage" type="file" name="foto" (change)="onFileSelected($event)" >
    </div>

    <div class="color-text">
      <label for="colorText">
          <img src="../assets/icons/pincel.png">
      </label>  
      <input id="colorText" type="color" formControlName="color">
    </div>

    <div class="color-text">
      <label for="backgroundColor">
          <img src="../assets/icons/balde.png">
      </label>  
      <input id="backgroundColor" type="color" formControlName="backgroundColor">
    </div>
  
  </div>
  
  <button [disabled]="!profileForm.valid" (click)="captureScreen()">Baixar Cartão</button>  
  
  </form>
 
</div>